<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edward App</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://assets.pragnyaa.in/home/favicon_io/favicon.ico"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://assets.pragnyaa.in/home/favicon_io/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://assets.pragnyaa.in/home/favicon_io/favicon-32x32.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://assets.pragnyaa.in/home/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="manifest"
      href="https://assets.pragnyaa.in/home/favicon_io/site.webmanifest"
    />
  </head>
  <body>
    <h1>Hello World</h1>
  </body>
</html>
